<app-events-configurator [courentEventPk] = "courentEventPk"></app-events-configurator>
<app-events-multifilter></app-events-multifilter>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="top-panel-min">
        Количество не квитированных событий: 12
      </div>
    </div>
  </div>
  <div class="events-columns" [ngSwitch]="tab">
    <div class="row">
      <div class="col-sm-12 col-xs-12 checkboxes-wrap">
        <ul class="checkbox-nesting">
          <li [ngClass]="{'active': tab === 1 }" (click)="setTab(1, $event)">
            Операционные
          </li>
          <li [ngClass]="{'active': tab === 2 }" (click)="setTab(2, $event)">
            Системные/аварии
          </li>
          <li [ngClass]="{'active': tab === 3 }" (click)="setTab(3, $event)">
            Неопределенные
          </li>
          <li [ngClass]="{'active': tab === 4 }" (click)="setTab(4, $event)">
            Дополнительные
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="tables-wrap">
          <div class="table-item" *ngSwitchCase="1">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th colspan=6>
                    <div class="row">
                      <div class="col-xs-4 col-xs-offset-4">
                        <ul class="icon-multifilter">
                          <li class="tooltip-wrap"><a href="#OpenMultifilter" class="fltr" (click)="MultifilterState($event)"> </a> <span class="tooltiptext">Открыть панель мультифильтра</span></li>
                          <li class="tooltip-wrap"><a href="#ClearMultifilter" class="clrfltr"> </a> <span class="tooltiptext">Сбросить настройки мультифильтра</span></li>
                          <li class="tooltip-wrap"><a href="#PrintReport" class="report" [routerLink]="['report']" target="_blank"></a> <span class="tooltiptext">Открыть отчет в новом окне</span></li>
                        </ul>
                      </div>
                    </div>
                  </th>
                </tr>
                <tr>
                  <th class="text-left">Наименование</th>
                  <th>Количество</th>
                  <th>Длительность</th>
                  <th>Дата/Время</th>
                  <th>Квитировать</th>
                  <th>Динамика</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of operationalEv">
                  <td>{{item.Name}}</td>
                  <td class="text-center">{{item.TotalNumber}}</td>
                  <td class="text-center">{{item.Duration}}</td>
                  <td class="text-center">{{item.DateTime | dateTime: 'date'}},&nbsp;{{item.DateTime | date: 'hh:mm:ss'}}</td>
                  <td class="text-center"><a *ngIf="item.Viewed!=null" (click)="setEventViewed(item, 'Operational')" class="visibility" [ngClass]="{'no-visible' : item.Viewed}"></a></td>
                  <td><a href="#ViewEventStatistic" class="icon-statistic" (click)="goToEventStatistic($event, item.Type, item.Pk )"></a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-item" *ngSwitchCase="2">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th colspan=6>
                    <div class="row">
                      <div class="col-xs-4 col-xs-offset-4">
                        <ul class="icon-multifilter">
                          <li class="tooltip-wrap"><a href="#OpenMultifilter" class="fltr" (click)="MultifilterState($event)"> </a> <span class="tooltiptext">Открыть панель мультифильтра</span></li>
                          <li class="tooltip-wrap"><a href="#ClearMultifilter" class="clrfltr"> </a> <span class="tooltiptext">Сбросить настройки мультифильтра</span></li>
                          <li class="tooltip-wrap"><a href="#PrintReport" class="report" [routerLink]="['report']" target="_blank"></a> <span class="tooltiptext">Открыть отчет в новом окне</span></li>
                        </ul>
                      </div>
                    </div>
                  </th>
                </tr>
                <tr>
                  <th class="text-left">Наименование</th>
                  <th>Количество</th>
                  <th>Длительность</th>
                  <th>Дата/Время</th>
                  <th>Квитировать</th>
                  <th>Динамика</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of systemEv">
                  <td>{{item.Name}}</td>
                  <td class="text-center">{{item.TotalNumber}}</td>
                  <td class="text-center">{{item.Duration | date: 'hh:mm:ss'}}</td>
                  <td class="text-center">{{item.DateTime | dateTime: 'date'}},&nbsp;{{item.DateTime | date: 'hh:mm:ss'}}</td>
                  <td><a *ngIf="item.Viewed!=null" (click)="setEventViewed(item, 'System')" class="visibility" [ngClass]="{'no-visible' : item.Viewed}"></a></td>
                  <td><a href="#ViewEventStatistic" class="icon-statistic" (click)="goToEventStatistic($event, item.Type, item.Pk )"></a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-item" *ngSwitchCase="3">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th colspan=6>
                    <div class="row">
                      <div class="col-xs-4 col-xs-offset-4">
                        <ul class="icon-multifilter">
                          <li class="tooltip-wrap"><a href="#OpenMultifilter" class="fltr" (click)="MultifilterState($event)"> </a> <span class="tooltiptext">Открыть панель мультифильтра</span></li>
                          <li class="tooltip-wrap"><a href="#ClearMultifilter" class="clrfltr"> </a> <span class="tooltiptext">Сбросить настройки мультифильтра</span></li>
                          <li class="tooltip-wrap"><a href="#PrintReport" class="report" [routerLink]="['report']" target="_blank"></a> <span class="tooltiptext">Открыть отчет в новом окне</span></li>
                        </ul>
                      </div>
                    </div>
                  </th>
                </tr>
                <tr>
                  <th class="text-left">Наименование</th>
                  <th>Количество</th>
                  <th>Длительность</th>
                  <th>Дата/Время</th>
                  <th>Квитировать</th>
                  <th>Динамика</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of uncertainEv">
                  <td>{{item.Name}}</td>
                  <td class="text-center">{{item.TotalNumber}}</td>
                  <td class="text-center">{{item.Duration | date: 'hh:mm:ss'}}</td>
                  <td class="text-center">{{item.DateTime | dateTime: 'date'}},&nbsp;{{item.DateTime | dateTime: 'hh:mm:ss'}}</td>
                  <td><a *ngIf="item.Viewed!=null" (click)="item.Viewed=true" class="visibility" [ngClass]="{'no-visible' : item.Viewed}"></a></td>
                  <td><a href="#ViewEventStatistic" class="icon-statistic" (click)="goToEventStatistic($event, item.Type, item.Pk )"></a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-item" *ngSwitchCase="4">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th colspan=6>
                    <div class="row">
                      <div class="col-xs-4 col-xs-offset-4">
                        <ul class="icon-multifilter">
                          <li class="tooltip-wrap"><a href="#OpenMultifilter" class="fltr" (click)="MultifilterState($event)"> </a> <span class="tooltiptext">Открыть панель мультифильтра</span></li>
                          <li class="tooltip-wrap"><a href="#ClearMultifilter" class="clrfltr"> </a> <span class="tooltiptext">Сбросить настройки мультифильтра</span></li>
                          <li class="tooltip-wrap"><a href="#PrintReport" class="report" [routerLink]="['report']" target="_blank"></a> <span class="tooltiptext">Открыть отчет в новом окне</span></li>
                        </ul>
                      </div>
                    </div>
                  </th>
                </tr>
                <tr>
                  <th class="text-left">Наименование</th>
                  <th>Количество</th>
                  <th>Длительность</th>
                  <th>Дата/Время</th>
                  <th>Квитировать</th>
                  <th>Динамика</th>
                  <th  *ngIf="stateConfigMode == 'active'">Конфигурирование </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of uncertainEv">
                  <!-- <td>{{item.Name}}</td> -->
                  <td>Срабатывание сигнализации</td>
                  <td class="text-center">1</td>
                  <td class="text-center">00:11:03</td>
                  <td class="text-center">12 сент. 2016 г., 09:31:11</td>
                  <td><a *ngIf="item.Viewed!=null" (click)="item.Viewed=true" class="visibility" [ngClass]="{'no-visible' : item.Viewed}"></a></td>
                  <td><a href="#ViewEventStatistic" class="icon-statistic" (click)="goToEventStatistic($event, item.Type, item.Pk )"></a></td>
                  <td class="text-center"  *ngIf="stateConfigMode == 'active'"><a class="icon-config" (click)="ConfigState($event, item.Pk)"></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
