<div class="multifilter-holder" [@panelState]="state">
  <div class="multifilter-bg" [@panelState]="state" (click)="MultifilterState($event)"></div>
  <div class="multifilter" [@multifilterState]="state">
    <div class="filter-holder">
      <h2>Мультифильтр</h2>
      <form class="form-horizontal">
        <fieldset>

          <!-- Form Name -->
          <legend>События</legend>

          <!-- Multiple Checkboxes -->
          <div class="form-group">
            <div class="col-sm-6">
              <div class="checkbox">
                <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
                <label class="checkbox-inline" for="checkboxes-0"><span class="fa fa-check"></span>Операционные</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
                <label class="checkbox-inline" for="checkboxes-1"><span class="fa fa-check"></span>Системные/аварии</label>
              </div>
              <div class="checkbox c-checkbox">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="checkbox">
                <input type="checkbox" name="checkboxes" id="checkboxes-2" value="3">
                <label class="checkbox-inline" for="checkboxes-2"><span class="fa fa-check"></span>Неопределенные</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" name="checkboxes" id="checkboxes-3" value="4">
                <label class="checkbox-inline" for="checkboxes-3"><span class="fa fa-check"></span>Дополнительные</label>
              </div>
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <div class='col-sm-1 drag'></div>
            <div class="col-sm-11">
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <label class="col-sm-1 text-right" for="textinput">с</label>
                    <div class="col-sm-10">
                      <div class="row">
                        <div class="col-sm-10">
                          <owl-date-time [(ngModel)]="input1Moment" [inputId]="'textinputdate'" [readonlyInput]="false" name="something" [inputStyleClass]="'form-control input-sm'"></owl-date-time>
                        </div>
                        <div class="col-sm-2">
                          <owl-date-time [(ngModel)]="input1Moment" [inputId]="'textinputdate'" [readonlyInput]="false" name="something">
                            <div class="calendar-btn">
                            </div>
                          </owl-date-time>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <label class="col-sm-2  text-right" style="margin-left:-10px;" for="textinput">по</label>
                    <div class="col-sm-10">
                      <div class="row">
                        <div class="col-sm-10">
                          <owl-date-time [(ngModel)]="input2Moment" [inputId]="'textinputdate2'" [readonlyInput]="false" name="something123" [inputStyleClass]="'form-control input-sm'"></owl-date-time>
                        </div>
                        <div class="col-sm-2">
                          <owl-date-time [(ngModel)]="input2Moment" [inputId]="'textinputdate2'" [readonlyInput]="false" name="something123">
                            <div class="calendar-btn">
                            </div>
                          </owl-date-time>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <div class='col-sm-1 drag'></div>
            <label class="col-sm-5 control-label" for="textinput">Наименование</label>
            <div class="col-sm-6">
              <input id="textinput" name="textinput" type="text" class="form-control input-sm">
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <div class='col-sm-1 drag'></div>
            <label class="col-sm-4 control-label" for="textinput">Количество</label>
            <label class="col-sm-1 control-label" for="textinput">от</label>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-5">
                  <input id="textinput" name="textinput" type="text" class="form-control input-sm">
                </div>
                <label class="col-sm-2 text-right" for="textinput">до</label>
                <div class="col-sm-5">
                  <input id="textinput" name="textinput" type="text" class="form-control input-sm">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class='col-sm-1 drag'></div>
            <label class="col-sm-4 control-label" for="textinput">Длительность, мин</label>
            <label class="col-sm-1 control-label" for="textinput">от</label>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-5">
                  <input id="textinput" name="textinput" type="text" class="form-control input-sm">
                </div>
                <label class="col-sm-2 text-right" for="textinput">до</label>
                <div class="col-sm-5">
                  <input id="textinput" name="textinput" type="text" class="form-control input-sm">
                </div>
              </div>
            </div>
          </div>

          <!-- Multiple Radios (inline) -->
          <div class="form-group">
            <div class='col-sm-1 drag'></div>
            <label class="col-sm-5 control-label" for="">Квитирование</label>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-4 radio">
                  <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                  <label class="radio-inline" for="radios-0">все</label>
                </div>
                <div class="col-sm-4 radio">
                  <input type="radio" name="radios" id="radios-1" value="2">
                  <label class="radio-inline" for="radios-1">есть</label>
                </div>
                <div class="col-sm-4 radio">
                  <input type="radio" name="radios" id="radios-2" value="3">
                  <label class="radio-inline" for="radios-2">нет</label>
                </div>
              </div>
            </div>
          </div>
          <!-- Button (Double) -->
          <div class="form-group">
            <div class="col-sm-12">
              <button id="button2id" name="button2id" class="btn btn-danger" (click)="MultifilterState($event)">Отмена</button>
              <button id="button1id" name="button1id" class="btn btn-success pull-right" (click)="MultifilterState($event)">Применить</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
