<div class="container-fluid report-head">
  <div class='row'>
    <div class='col-sm-2'><span class="report-logo">SMARTNOVA</span></div>
    <div class='col-sm-8 text-center'>
      <h3>Отчет по Торговой сети QQT3532925</h3>
      <h3>Ингредиенты</h3>
      <h3>от 21.10.2017 на 12:00</h3>
    </div>
    <div class='col-sm-2'>
      <a href="javascript:window.print(); void 0;" class='icon-print' title='Распечатать отчёт'></a>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class='col-sm-12'>
    <div class="panel panel-default">
      <div class='row'>
        <h3 class='text-center'>Настройки мультифильтра</h3>
      </div>
      <div class="row">
        <div class='col-sm-10 col-sm-offset-1'>
          <div class='row'>
            <div class='col-sm-6'>
              <div class='row'>
                <div class='col-sm-5'>ID</div>
                <div class='col-sm-7'>FQJ7</div>
              </div>
              <div class='row'>
                <div class='col-sm-5'>Наименование</div>
                <div class='col-sm-7'>Сливки</div>
              </div>
              <div class='row'>
                <div class='col-sm-5'>Объём выдачи</div>
                <div class='col-sm-7'>
                  <div class='row'>
                    <div class='col-sm-2'>от</div>
                    <div class='col-sm-3'>100</div>
                    <div class='col-sm-2'>до</div>
                    <div class='col-sm-3'>1000</div>
                  </div>
                </div>
              </div>
            </div>
            <div class='col-sm-6'>
              <div class='row'>
                <div class='col-sm-5'>Объём загрузки</div>
                <div class='col-sm-7'>
                  <div class='row'>
                    <div class='col-sm-2'>от</div>
                    <div class='col-sm-3'>100</div>
                    <div class='col-sm-2'>до</div>
                    <div class='col-sm-3'>1000</div>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-sm-5'>Текущий объём</div>
                <div class='col-sm-7'>
                  <div class='row'>
                    <div class='col-sm-2'>от</div>
                    <div class='col-sm-3'>100</div>
                    <div class='col-sm-2'>до</div>
                    <div class='col-sm-3'>1000</div>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-sm-5'>Порог</div>
                <div class='col-sm-7'>
                  <div class='row'>
                    <div class='col-sm-2'>от</div>
                    <div class='col-sm-3'>100</div>
                    <div class='col-sm-2'>до</div>
                    <div class='col-sm-3'>1000</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>

  <div class='col-sm-12'>
    <div class="panel panel-default">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center" style="width: 5%">
              ID
            </th>
            <th class="text-center">
              Наименование
            </th>
            <th class="text-center">
              Объем <br> выдачи
            </th>
            <th class="text-center">
              Объем <br> загрузки
            </th>
            <th class="text-center">
              Текущий <br> объем
            </th>
            <th class="text-center">
              Порог
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">CQT9</td>
            <td class="text-center">Какао</td>
            <td class="text-center">9 г</td>
            <td class="text-center">1 кг</td>
            <td class="text-center">0.2 кг</td>
            <td class="text-center">0.2 кг</td>

          </tr>
          <tr>
            <td class="text-center">LVS4</td>
            <td class="text-center">Трубочка</td>
            <td class="text-center">3 шт</td>
            <td class="text-center">100 шт</td>
            <td class="text-center">12 шт</td>
            <td class="text-center">3 шт</td>

          </tr>
          <tr>
            <td class="text-center">MHK6</td>
            <td class="text-center">Ванилин</td>
            <td class="text-center">7 г</td>
            <td class="text-center">3 кг</td>
            <td class="text-center">0.3 кг</td>
            <td class="text-center">0.1 кг</td>

          </tr>
          <tr>
            <td class="text-center">EXX6</td>
            <td class="text-center">Молоко</td>
            <td class="text-center">4 г</td>
            <td class="text-center">9 кг</td>
            <td class="text-center">0.6 кг</td>
            <td class="text-center">0.3 кг</td>

          </tr>
          <tr>
            <td class="text-center">GTS2</td>
            <td class="text-center">Ваниль</td>
            <td class="text-center">8 г</td>
            <td class="text-center">13 кг</td>
            <td class="text-center">0.1 кг</td>
            <td class="text-center">0.1 кг</td>

          </tr>
          <tr>
            <td class="text-center">CKT1</td>
            <td class="text-center">Крышка</td>
            <td class="text-center">1 шт</td>
            <td class="text-center">100 шт</td>
            <td class="text-center">17 шт</td>
            <td class="text-center">1 шт</td>

          </tr>
          <tr>
            <td class="text-center">FKS4</td>
            <td class="text-center">Стакан пластиковый</td>
            <td class="text-center">1 шт</td>
            <td class="text-center">100 шт</td>
            <td class="text-center">11 шт</td>
            <td class="text-center">2 шт</td>

          </tr>
          <tr>
            <td class="text-center">JRD0</td>
            <td class="text-center">Какао</td>
            <td class="text-center">15 г</td>
            <td class="text-center">3 кг</td>
            <td class="text-center">0.6 кг</td>
            <td class="text-center">0.2 кг</td>

          </tr>
          <tr>
            <td class="text-center">KAX5</td>
            <td class="text-center">Сироп</td>
            <td class="text-center">9 г</td>
            <td class="text-center">5 кг</td>
            <td class="text-center">0.5 кг</td>
            <td class="text-center">0.1 кг</td>

          </tr>
          <tr>
            <td class="text-center">CHU4</td>
            <td class="text-center">Сосиска</td>
            <td class="text-center">2 г</td>
            <td class="text-center">13 кг</td>
            <td class="text-center">0.6 кг</td>
            <td class="text-center">0.3 кг</td>

          </tr>
          <tr>
            <td class="text-center">UVS1</td>
            <td class="text-center">Стакан пластиковый</td>
            <td class="text-center">1 шт</td>
            <td class="text-center">200 шт</td>
            <td class="text-center">15 шт</td>
            <td class="text-center">2 шт</td>

          </tr>
          <tr>
            <td class="text-center">GYS0</td>
            <td class="text-center">Шоколад</td>
            <td class="text-center">5 г</td>
            <td class="text-center">12 кг</td>
            <td class="text-center">0.2 кг</td>
            <td class="text-center">0.1 кг</td>

          </tr>
          <tr>
            <td class="text-center">LCR6</td>
            <td class="text-center">Ложка</td>
            <td class="text-center">2 шт</td>
            <td class="text-center">100 шт</td>
            <td class="text-center">16 шт</td>
            <td class="text-center">3 шт</td>

          </tr>
          <tr>
            <td class="text-center">REV0</td>
            <td class="text-center">Ложка</td>
            <td class="text-center">3 шт</td>
            <td class="text-center">300 шт</td>
            <td class="text-center">20 шт</td>
            <td class="text-center">3 шт</td>

          </tr>
          <tr>
            <td class="text-center">NJR2</td>
            <td class="text-center">Трубочка</td>
            <td class="text-center">1 шт</td>
            <td class="text-center">300 шт</td>
            <td class="text-center">18 шт</td>
            <td class="text-center">1 шт</td>

          </tr>
          <tr>
            <td class="text-center">JTV7</td>
            <td class="text-center">Соль</td>
            <td class="text-center">9 г</td>
            <td class="text-center">13 кг</td>
            <td class="text-center">0.2 кг</td>
            <td class="text-center">0.3 кг</td>

          </tr>
          <tr>
            <td class="text-center">POV2</td>
            <td class="text-center">Крышка</td>
            <td class="text-center">1 шт</td>
            <td class="text-center">100 шт</td>
            <td class="text-center">16 шт</td>
            <td class="text-center">2 шт</td>

          </tr>
          <tr>
            <td class="text-center">WQN4</td>
            <td class="text-center">Вода</td>
            <td class="text-center">2 г</td>
            <td class="text-center">12 кг</td>
            <td class="text-center">0.8 кг</td>
            <td class="text-center">0.3 кг</td>

          </tr>
          <tr>
            <td class="text-center">MBP1</td>
            <td class="text-center">Ложка</td>
            <td class="text-center">2 шт</td>
            <td class="text-center">200 шт</td>
            <td class="text-center">19 шт</td>
            <td class="text-center">1 шт</td>

          </tr>
          <tr>
            <td class="text-center">LDG2</td>
            <td class="text-center">Загуститель</td>
            <td class="text-center">6 г</td>
            <td class="text-center">4 кг</td>
            <td class="text-center">0.9 кг</td>
            <td class="text-center">0.2 кг</td>

          </tr>
          <tr>
            <td class="text-center">BUB5</td>
            <td class="text-center">Крахмал</td>
            <td class="text-center">8 г</td>
            <td class="text-center">8 кг</td>
            <td class="text-center">0.6 кг</td>
            <td class="text-center">0.2 кг</td>

          </tr>
          <tr>
            <td class="text-center">HQJ3</td>
            <td class="text-center">Сироп</td>
            <td class="text-center">4 г</td>
            <td class="text-center">8 кг</td>
            <td class="text-center">0.3 кг</td>
            <td class="text-center">0.1 кг</td>

          </tr>
          <tr>
            <td class="text-center">TXZ3</td>
            <td class="text-center">Трубочка</td>
            <td class="text-center">3 шт</td>
            <td class="text-center">300 шт</td>
            <td class="text-center">16 шт</td>
            <td class="text-center">3 шт</td>

          </tr>
          <tr>
            <td class="text-center">OYZ2</td>
            <td class="text-center">Крышка</td>
            <td class="text-center">2 шт</td>
            <td class="text-center">200 шт</td>
            <td class="text-center">17 шт</td>
            <td class="text-center">2 шт</td>

          </tr>
          <tr>
            <td class="text-center">RWY9</td>
            <td class="text-center">Крышка</td>
            <td class="text-center">1 шт</td>
            <td class="text-center">100 шт</td>
            <td class="text-center">11 шт</td>
            <td class="text-center">3 шт</td>

          </tr>
          <tr>
            <td class="text-center">ATX8</td>
            <td class="text-center">Крышка</td>
            <td class="text-center">3 шт</td>
            <td class="text-center">300 шт</td>
            <td class="text-center">11 шт</td>
            <td class="text-center">1 шт</td>

          </tr>
          <tr>
            <td class="text-center">IWX0</td>
            <td class="text-center">Соль</td>
            <td class="text-center">13 г</td>
            <td class="text-center">13 кг</td>
            <td class="text-center">0.3 кг</td>
            <td class="text-center">0.1 кг</td>

          </tr>
          <tr>
            <td class="text-center">NVR8</td>
            <td class="text-center">Вилка</td>
            <td class="text-center">3 шт</td>
            <td class="text-center">100 шт</td>
            <td class="text-center">20 шт</td>
            <td class="text-center">2 шт</td>

          </tr>
          <tr>
            <td class="text-center">YLI5</td>
            <td class="text-center">Стакан пластиковый</td>
            <td class="text-center">3 шт</td>
            <td class="text-center">100 шт</td>
            <td class="text-center">20 шт</td>
            <td class="text-center">2 шт</td>

          </tr>
          <tr>
            <td class="text-center">WFX9</td>
            <td class="text-center">Стакан пластиковый</td>
            <td class="text-center">1 шт</td>
            <td class="text-center">100 шт</td>
            <td class="text-center">14 шт</td>
            <td class="text-center">1 шт</td>

          </tr>
          <tr>
            <td class="text-center">CQZ7</td>
            <td class="text-center">Специи</td>
            <td class="text-center">15 г</td>
            <td class="text-center">1 кг</td>
            <td class="text-center">0.4 кг</td>
            <td class="text-center">0.3 кг</td>

          </tr>
          <tr>
            <td class="text-center">ERV8</td>
            <td class="text-center">Сахар</td>
            <td class="text-center">2 г</td>
            <td class="text-center">3 кг</td>
            <td class="text-center">0.7 кг</td>
            <td class="text-center">0.1 кг</td>

          </tr>
          <tr>
            <td class="text-center">HMW9</td>
            <td class="text-center">Стакан пластиковый</td>
            <td class="text-center">2 шт</td>
            <td class="text-center">200 шт</td>
            <td class="text-center">16 шт</td>
            <td class="text-center">2 шт</td>

          </tr>
          <tr>
            <td class="text-center">XYU1</td>
            <td class="text-center">Корица</td>
            <td class="text-center">14 г</td>
            <td class="text-center">13 кг</td>
            <td class="text-center">0.2 кг</td>
            <td class="text-center">0.1 кг</td>

          </tr>
          <tr>
            <td class="text-center">TWO3</td>
            <td class="text-center">Вилка</td>
            <td class="text-center">2 шт</td>
            <td class="text-center">300 шт</td>
            <td class="text-center">19 шт</td>
            <td class="text-center">1 шт</td>

          </tr>
          <tr>
            <td class="text-center">HNL8</td>
            <td class="text-center">Сахар</td>
            <td class="text-center">6 г</td>
            <td class="text-center">3 кг</td>
            <td class="text-center">0.5 кг</td>
            <td class="text-center">0.2 кг</td>

          </tr>
          <tr>
            <td class="text-center">HFA4</td>
            <td class="text-center">Ароматизатор</td>
            <td class="text-center">12 г</td>
            <td class="text-center">2 кг</td>
            <td class="text-center">0.1 кг</td>
            <td class="text-center">0.2 кг</td>

          </tr>
          <tr>
            <td class="text-center">LUQ5</td>
            <td class="text-center">Вилка</td>
            <td class="text-center">3 шт</td>
            <td class="text-center">300 шт</td>
            <td class="text-center">14 шт</td>
            <td class="text-center">1 шт</td>

          </tr>
          <tr>
            <td class="text-center">YSJ6</td>
            <td class="text-center">Молоко</td>
            <td class="text-center">15 г</td>
            <td class="text-center">9 кг</td>
            <td class="text-center">0.9 кг</td>
            <td class="text-center">0.2 кг</td>

          </tr>
          <tr>
            <td class="text-center">OIS5</td>
            <td class="text-center">Вилка</td>
            <td class="text-center">2 шт</td>
            <td class="text-center">100 шт</td>
            <td class="text-center">15 шт</td>
            <td class="text-center">3 шт</td>

          </tr>
          <tr>
            <td class="text-center">HQV5</td>
            <td class="text-center">Какао</td>
            <td class="text-center">14 г</td>
            <td class="text-center">3 кг</td>
            <td class="text-center">0.2 кг</td>
            <td class="text-center">0.3 кг</td>

          </tr>
          <tr>
            <td class="text-center">REG7</td>
            <td class="text-center">Трубочка</td>
            <td class="text-center">3 шт</td>
            <td class="text-center">100 шт</td>
            <td class="text-center">19 шт</td>
            <td class="text-center">1 шт</td>

          </tr>
          <tr>
            <td class="text-center">TUH6</td>
            <td class="text-center">Трубочка</td>
            <td class="text-center">3 шт</td>
            <td class="text-center">200 шт</td>
            <td class="text-center">14 шт</td>
            <td class="text-center">3 шт</td>

          </tr>
          <tr>
            <td class="text-center">NTK2</td>
            <td class="text-center">Ложка</td>
            <td class="text-center">1 шт</td>
            <td class="text-center">100 шт</td>
            <td class="text-center">16 шт</td>
            <td class="text-center">1 шт</td>

          </tr>
          <tr>
            <td class="text-center">LLF3</td>
            <td class="text-center">Вилка</td>
            <td class="text-center">3 шт</td>
            <td class="text-center">300 шт</td>
            <td class="text-center">14 шт</td>
            <td class="text-center">2 шт</td>

          </tr>
          <tr>
            <td class="text-center">SKW5</td>
            <td class="text-center">Вилка</td>
            <td class="text-center">1 шт</td>
            <td class="text-center">100 шт</td>
            <td class="text-center">11 шт</td>
            <td class="text-center">1 шт</td>

          </tr>
          <tr>
            <td class="text-center">KTN6</td>
            <td class="text-center">Мармелад</td>
            <td class="text-center">5 г</td>
            <td class="text-center">5 кг</td>
            <td class="text-center">1 кг</td>
            <td class="text-center">0.1 кг</td>

          </tr>
          <tr>
            <td class="text-center">RXD8</td>
            <td class="text-center">Загуститель</td>
            <td class="text-center">12 г</td>
            <td class="text-center">2 кг</td>
            <td class="text-center">0.6 кг</td>
            <td class="text-center">0.1 кг</td>

          </tr>
          <tr>
            <td class="text-center">BZD3</td>
            <td class="text-center">Вилка</td>
            <td class="text-center">2 шт</td>
            <td class="text-center">100 шт</td>
            <td class="text-center">15 шт</td>
            <td class="text-center">1 шт</td>

          </tr>
          <tr>
            <td class="text-center">ZPZ3</td>
            <td class="text-center">Соль</td>
            <td class="text-center">14 г</td>
            <td class="text-center">15 кг</td>
            <td class="text-center">0.2 кг</td>
            <td class="text-center">0.2 кг</td>

          </tr>
          <tr>
            <td class="text-center">QZP0</td>
            <td class="text-center">Крышка</td>
            <td class="text-center">3 шт</td>
            <td class="text-center">300 шт</td>
            <td class="text-center">15 шт</td>
            <td class="text-center">1 шт</td>

          </tr>
          <tr>
            <td class="text-center">XGV9</td>
            <td class="text-center">Специи</td>
            <td class="text-center">4 г</td>
            <td class="text-center">1 кг</td>
            <td class="text-center">0.2 кг</td>
            <td class="text-center">0.3 кг</td>

          </tr>
          <tr>
            <td class="text-center">AUX9</td>
            <td class="text-center">Трубочка</td>
            <td class="text-center">2 шт</td>
            <td class="text-center">100 шт</td>
            <td class="text-center">20 шт</td>
            <td class="text-center">2 шт</td>

          </tr>
          <tr>
            <td class="text-center">JXP3</td>
            <td class="text-center">Ложка</td>
            <td class="text-center">3 шт</td>
            <td class="text-center">300 шт</td>
            <td class="text-center">17 шт</td>
            <td class="text-center">2 шт</td>

          </tr>
          <tr>
            <td class="text-center">WVV5</td>
            <td class="text-center">Ложка</td>
            <td class="text-center">2 шт</td>
            <td class="text-center">100 шт</td>
            <td class="text-center">16 шт</td>
            <td class="text-center">3 шт</td>

          </tr>
          <tr>
            <td class="text-center">CPT9</td>
            <td class="text-center">Сироп</td>
            <td class="text-center">12 г</td>
            <td class="text-center">2 кг</td>
            <td class="text-center">0.3 кг</td>
            <td class="text-center">0.3 кг</td>

          </tr>
          <tr>
            <td class="text-center">XJK6</td>
            <td class="text-center">Стакан пластиковый</td>
            <td class="text-center">1 шт</td>
            <td class="text-center">300 шт</td>
            <td class="text-center">19 шт</td>
            <td class="text-center">2 шт</td>

          </tr>
          <tr>
            <td class="text-center">ALT2</td>
            <td class="text-center">Стакан пластиковый</td>
            <td class="text-center">2 шт</td>
            <td class="text-center">200 шт</td>
            <td class="text-center">15 шт</td>
            <td class="text-center">3 шт</td>

          </tr>
          <tr>
            <td class="text-center">HVR0</td>
            <td class="text-center">Сахар</td>
            <td class="text-center">15 г</td>
            <td class="text-center">7 кг</td>
            <td class="text-center">0.2 кг</td>
            <td class="text-center">0.2 кг</td>

          </tr>
          <tr>
            <td class="text-center">ZSJ1</td>
            <td class="text-center">Крышка</td>
            <td class="text-center">1 шт</td>
            <td class="text-center">300 шт</td>
            <td class="text-center">11 шт</td>
            <td class="text-center">2 шт</td>

          </tr>
          <tr>
            <td class="text-center">CGR3</td>
            <td class="text-center">Мармелад</td>
            <td class="text-center">7 г</td>
            <td class="text-center">5 кг</td>
            <td class="text-center">0.2 кг</td>
            <td class="text-center">0.3 кг</td>

          </tr>
          <tr>
            <td class="text-center">XQN5</td>
            <td class="text-center">Соевое молоко</td>
            <td class="text-center">13 г</td>
            <td class="text-center">10 кг</td>
            <td class="text-center">0.2 кг</td>
            <td class="text-center">0.1 кг</td>

          </tr>
          <tr>
            <td class="text-center">VXM8</td>
            <td class="text-center">Ложка</td>
            <td class="text-center">3 шт</td>
            <td class="text-center">200 шт</td>
            <td class="text-center">11 шт</td>
            <td class="text-center">2 шт</td>

          </tr>
          <tr>
            <td class="text-center">TRH5</td>
            <td class="text-center">Корица</td>
            <td class="text-center">2 г</td>
            <td class="text-center">11 кг</td>
            <td class="text-center">0.3 кг</td>
            <td class="text-center">0.1 кг</td>

          </tr>
          <tr>
            <td class="text-center">YOQ1</td>
            <td class="text-center">Ложка</td>
            <td class="text-center">1 шт</td>
            <td class="text-center">200 шт</td>
            <td class="text-center">14 шт</td>
            <td class="text-center">3 шт</td>

          </tr>
          <tr>
            <td class="text-center">VAE7</td>
            <td class="text-center">Молоко</td>
            <td class="text-center">3 г</td>
            <td class="text-center">15 кг</td>
            <td class="text-center">0.8 кг</td>
            <td class="text-center">0.3 кг</td>

          </tr>
          <tr>
            <td class="text-center">PDJ9</td>
            <td class="text-center">Сахар</td>
            <td class="text-center">12 г</td>
            <td class="text-center">14 кг</td>
            <td class="text-center">0.4 кг</td>
            <td class="text-center">0.2 кг</td>

          </tr>
          <tr>
            <td class="text-center">YGC3</td>
            <td class="text-center">Вилка</td>
            <td class="text-center">2 шт</td>
            <td class="text-center">100 шт</td>
            <td class="text-center">12 шт</td>
            <td class="text-center">1 шт</td>

          </tr>
          <tr>
            <td class="text-center">DDX5</td>
            <td class="text-center">Корица</td>
            <td class="text-center">5 г</td>
            <td class="text-center">7 кг</td>
            <td class="text-center">0.1 кг</td>
            <td class="text-center">0.2 кг</td>

          </tr>
          <tr>
            <td class="text-center">HGC0</td>
            <td class="text-center">Крышка</td>
            <td class="text-center">2 шт</td>
            <td class="text-center">200 шт</td>
            <td class="text-center">16 шт</td>
            <td class="text-center">1 шт</td>

          </tr>
          <tr>
            <td class="text-center">ADV7</td>
            <td class="text-center">Крышка</td>
            <td class="text-center">1 шт</td>
            <td class="text-center">300 шт</td>
            <td class="text-center">18 шт</td>
            <td class="text-center">2 шт</td>

          </tr>
          <tr>
            <td class="text-center">XIV8</td>
            <td class="text-center">Какао</td>
            <td class="text-center">14 г</td>
            <td class="text-center">14 кг</td>
            <td class="text-center">0.1 кг</td>
            <td class="text-center">0.2 кг</td>

          </tr>
          <tr>
            <td class="text-center">SSN0</td>
            <td class="text-center">Трубочка</td>
            <td class="text-center">1 шт</td>
            <td class="text-center">300 шт</td>
            <td class="text-center">15 шт</td>
            <td class="text-center">2 шт</td>

          </tr>
          <tr>
            <td class="text-center">BMR6</td>
            <td class="text-center">Соевое молоко</td>
            <td class="text-center">3 г</td>
            <td class="text-center">3 кг</td>
            <td class="text-center">0.1 кг</td>
            <td class="text-center">0.3 кг</td>

          </tr>
          <tr>
            <td class="text-center">UQO0</td>
            <td class="text-center">Крахмал</td>
            <td class="text-center">5 г</td>
            <td class="text-center">5 кг</td>
            <td class="text-center">0.7 кг</td>
            <td class="text-center">0.3 кг</td>

          </tr>
          <tr>
            <td class="text-center">NIJ2</td>
            <td class="text-center">Стакан пластиковый</td>
            <td class="text-center">2 шт</td>
            <td class="text-center">200 шт</td>
            <td class="text-center">18 шт</td>
            <td class="text-center">3 шт</td>

          </tr>
          <tr>
            <td class="text-center">KTU3</td>
            <td class="text-center">Корица</td>
            <td class="text-center">9 г</td>
            <td class="text-center">13 кг</td>
            <td class="text-center">0.8 кг</td>
            <td class="text-center">0.1 кг</td>

          </tr>
          <tr>
            <td class="text-center">EYG6</td>
            <td class="text-center">Молоко</td>
            <td class="text-center">11 г</td>
            <td class="text-center">5 кг</td>
            <td class="text-center">0.2 кг</td>
            <td class="text-center">0.1 кг</td>

          </tr>
          <tr>
            <td class="text-center">GUL4</td>
            <td class="text-center">Вода</td>
            <td class="text-center">3 г</td>
            <td class="text-center">10 кг</td>
            <td class="text-center">0.8 кг</td>
            <td class="text-center">0.3 кг</td>

          </tr>
          <tr>
            <td class="text-center">KKP5</td>
            <td class="text-center">Крышка</td>
            <td class="text-center">1 шт</td>
            <td class="text-center">200 шт</td>
            <td class="text-center">17 шт</td>
            <td class="text-center">1 шт</td>

          </tr>
          <tr>
            <td class="text-center">HDF5</td>
            <td class="text-center">Ложка</td>
            <td class="text-center">3 шт</td>
            <td class="text-center">100 шт</td>
            <td class="text-center">14 шт</td>
            <td class="text-center">3 шт</td>

          </tr>
          <tr>
            <td class="text-center">DZD8</td>
            <td class="text-center">Ароматизатор</td>
            <td class="text-center">2 г</td>
            <td class="text-center">12 кг</td>
            <td class="text-center">0.5 кг</td>
            <td class="text-center">0.3 кг</td>

          </tr>
          <tr>
            <td class="text-center">HFQ9</td>
            <td class="text-center">Ароматизатор</td>
            <td class="text-center">5 г</td>
            <td class="text-center">7 кг</td>
            <td class="text-center">0.1 кг</td>
            <td class="text-center">0.3 кг</td>

          </tr>
          <tr>
            <td class="text-center">GXH0</td>
            <td class="text-center">Сосиска</td>
            <td class="text-center">6 г</td>
            <td class="text-center">12 кг</td>
            <td class="text-center">0.2 кг</td>
            <td class="text-center">0.3 кг</td>

          </tr>
          <tr>
            <td class="text-center">QJB0</td>
            <td class="text-center">Соль</td>
            <td class="text-center">9 г</td>
            <td class="text-center">15 кг</td>
            <td class="text-center">0.9 кг</td>
            <td class="text-center">0.3 кг</td>

          </tr>
          <tr>
            <td class="text-center">SLG5</td>
            <td class="text-center">Трубочка</td>
            <td class="text-center">1 шт</td>
            <td class="text-center">300 шт</td>
            <td class="text-center">16 шт</td>
            <td class="text-center">3 шт</td>

          </tr>
          <tr>
            <td class="text-center">FIQ7</td>
            <td class="text-center">Вода</td>
            <td class="text-center">8 г</td>
            <td class="text-center">6 кг</td>
            <td class="text-center">0.7 кг</td>
            <td class="text-center">0.3 кг</td>

          </tr>
          <tr>
            <td class="text-center">AIP4</td>
            <td class="text-center">Сливки</td>
            <td class="text-center">11 г</td>
            <td class="text-center">3 кг</td>
            <td class="text-center">0.1 кг</td>
            <td class="text-center">0.3 кг</td>

          </tr>
          <tr>
            <td class="text-center">MNG3</td>
            <td class="text-center">Стакан пластиковый</td>
            <td class="text-center">1 шт</td>
            <td class="text-center">300 шт</td>
            <td class="text-center">18 шт</td>
            <td class="text-center">2 шт</td>

          </tr>
          <tr>
            <td class="text-center">QGJ1</td>
            <td class="text-center">Стакан пластиковый</td>
            <td class="text-center">2 шт</td>
            <td class="text-center">300 шт</td>
            <td class="text-center">14 шт</td>
            <td class="text-center">2 шт</td>

          </tr>
          <tr>
            <td class="text-center">SCT8</td>
            <td class="text-center">Вилка</td>
            <td class="text-center">3 шт</td>
            <td class="text-center">200 шт</td>
            <td class="text-center">15 шт</td>
            <td class="text-center">3 шт</td>

          </tr>
          <tr>
            <td class="text-center">YUP2</td>
            <td class="text-center">Молоко</td>
            <td class="text-center">13 г</td>
            <td class="text-center">14 кг</td>
            <td class="text-center">0.3 кг</td>
            <td class="text-center">0.2 кг</td>

          </tr>
          <tr>
            <td class="text-center">PYU5</td>
            <td class="text-center">Крышка</td>
            <td class="text-center">1 шт</td>
            <td class="text-center">200 шт</td>
            <td class="text-center">17 шт</td>
            <td class="text-center">3 шт</td>

          </tr>
          <tr>
            <td class="text-center">ETG9</td>
            <td class="text-center">Крышка</td>
            <td class="text-center">3 шт</td>
            <td class="text-center">200 шт</td>
            <td class="text-center">19 шт</td>
            <td class="text-center">3 шт</td>

          </tr>
          <tr>
            <td class="text-center">ZTM8</td>
            <td class="text-center">Ваниль</td>
            <td class="text-center">12 г</td>
            <td class="text-center">8 кг</td>
            <td class="text-center">0.5 кг</td>
            <td class="text-center">0.2 кг</td>

          </tr>
          <tr>
            <td class="text-center">HKT8</td>
            <td class="text-center">Специи</td>
            <td class="text-center">10 г</td>
            <td class="text-center">3 кг</td>
            <td class="text-center">0.8 кг</td>
            <td class="text-center">0.3 кг</td>

          </tr>
          <tr>
            <td class="text-center">JHA5</td>
            <td class="text-center">Крышка</td>
            <td class="text-center">1 шт</td>
            <td class="text-center">100 шт</td>
            <td class="text-center">16 шт</td>
            <td class="text-center">1 шт</td>

          </tr>
          <tr>
            <td class="text-center">YNX0</td>
            <td class="text-center">Вилка</td>
            <td class="text-center">2 шт</td>
            <td class="text-center">300 шт</td>
            <td class="text-center">15 шт</td>
            <td class="text-center">3 шт</td>

          </tr>
          <tr>
            <td class="text-center">DVV2</td>
            <td class="text-center">Ванилин</td>
            <td class="text-center">7 г</td>
            <td class="text-center">1 кг</td>
            <td class="text-center">0.9 кг</td>
            <td class="text-center">0.2 кг</td>

          </tr>
          <tr>
            <td class="text-center">BMZ4</td>
            <td class="text-center">Сосиска</td>
            <td class="text-center">15 г</td>
            <td class="text-center">8 кг</td>
            <td class="text-center">0.5 кг</td>
            <td class="text-center">0.3 кг</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>