<div class="container-fluid report-head">
  <div class='row'>
    <div class='col-sm-2'><span class="report-logo">SMARTNOVA</span></div>
    <div class='col-sm-8 text-center'>
      <h3>Отчет по Торговой сети QQT3532925</h3>
      <h3>Товары</h3>
      <h3>от 21.10.2017 на 12:00</h3>
    </div>
    <div class='col-sm-2'>
      <a href="javascript:window.print(); void 0;" class='icon-print' title='Распечатать отчёт'></a>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class='col-sm-12'>
    <div class="panel panel-default">
      <div class='row'>
        <h3 class='text-center'>Настройки мультифильтра</h3>
      </div>
      <div class="row">
        <div class='col-sm-10 col-sm-offset-1'>
          <div class='row'>
            <div class='col-sm-6'>
              <div class='row'>
                <div class='col-sm-5'>ID</div>
                <div class='col-sm-7'>#034</div>
              </div>
              <div class='row'>
                <div class='col-sm-5'>Наименование</div>
                <div class='col-sm-7'>Соль</div>
              </div>
              <div class='row'>
                <div class='col-sm-5'>Базовая цена</div>
                <div class='col-sm-7'>
                  <div class='row'>
                    <div class='col-sm-2'>от</div>
                    <div class='col-sm-3'>100</div>
                    <div class='col-sm-2'>до</div>
                    <div class='col-sm-3'>1000</div>
                  </div>
                </div>
              </div>
            </div>
            <div class='col-sm-6'>
              <div class='row'>
                <div class='col-sm-5'>Количество проданых</div>
                <div class='col-sm-7'>
                  <div class='row'>
                    <div class='col-sm-2'>от</div>
                    <div class='col-sm-3'>100</div>
                    <div class='col-sm-2'>до</div>
                    <div class='col-sm-3'>1000</div>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-sm-5'>Сумма проданных</div>
                <div class='col-sm-7'>
                  <div class='row'>
                    <div class='col-sm-2'>от</div>
                    <div class='col-sm-3'>100</div>
                    <div class='col-sm-2'>до</div>
                    <div class='col-sm-3'>1000</div>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-sm-5'>Состав ингридиентов</div>
                <div class='col-sm-7'>Соль, перец, кетчуп</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>

  <div class='col-sm-12'>
    <div class="panel panel-default">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center" style="width: 5%">
              ID
            </th>
            <th class="text-center">
              Наименование
            </th>
            <th class="text-center">
              Базовая<br>цена
            </th>
            <th class="text-center">
              Количество<br>проданных
            </th>
            <th class="text-center">
              Сумма<br>проданных
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">#034</td>
            <td class="text-center">Соль</td>
            <td class="text-center">3</td>
            <td class="text-center">177</td>
            <td class="text-center">531</td>
          </tr>
          <tr>
            <td class="text-center">#066</td>
            <td class="text-center">Mars</td>
            <td class="text-center">12</td>
            <td class="text-center">6</td>
            <td class="text-center">456</td>
          </tr>
          <tr>
            <td class="text-center">#116</td>
            <td class="text-center">Гречка</td>
            <td class="text-center">30</td>
            <td class="text-center">144</td>
            <td class="text-center">4320</td>
          </tr>
          <tr>
            <td class="text-center">#193</td>
            <td class="text-center">Гречка</td>
            <td class="text-center">30</td>
            <td class="text-center">44</td>
            <td class="text-center">1320</td>
          </tr>
          <tr>
            <td class="text-center">#193</td>
            <td class="text-center">Шоколад</td>
            <td class="text-center">26</td>
            <td class="text-center">31</td>
            <td class="text-center">936</td>
          </tr>
          <tr>
            <td class="text-center">#199</td>
            <td class="text-center">Мармелад</td>
            <td class="text-center">76</td>
            <td class="text-center">36</td>
            <td class="text-center">1936</td>
          </tr>
          <tr>
            <td class="text-center">#215</td>
            <td class="text-center">Гречка</td>
            <td class="text-center">30</td>
            <td class="text-center">195</td>
            <td class="text-center">5850</td>
          </tr>
          <tr>
            <td class="text-center">#222</td>
            <td class="text-center">Pepsi</td>
            <td class="text-center">13</td>
            <td class="text-center">12</td>
            <td class="text-center">156</td>
          </tr>
          <tr>
            <td class="text-center">#280</td>
            <td class="text-center">Вода</td>
            <td class="text-center">0.7</td>
            <td class="text-center">320</td>
            <td class="text-center">280</td>
          </tr>
          <tr>
            <td class="text-center">#345</td>
            <td class="text-center">Молоко</td>
            <td class="text-center">15</td>
            <td class="text-center">162</td>
            <td class="text-center">2430</td>
          </tr>
          <tr>
            <td class="text-center">#691</td>
            <td class="text-center">Эспрессо</td>
            <td class="text-center">100</td>
            <td class="text-center">10</td>
            <td class="text-center">1800</td>
          </tr>
          <tr>
            <td class="text-center">#766</td>
            <td class="text-center">Twix</td>
            <td class="text-center">7</td>
            <td class="text-center">7</td>
            <td class="text-center">42</td>
          </tr>
          <tr>
            <td class="text-center">#987</td>
            <td class="text-center">Marlboro</td>
            <td class="text-center">21</td>
            <td class="text-center">19</td>
            <td class="text-center">381</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>