<div class="container-fluid report-head">
  <div class='row'>
    <div class='col-sm-2'><span class="report-logo">SMARTNOVA</span></div>
    <div class='col-sm-8 text-center'>
      <h3>Отчет по Торговой сети QQT3532925</h3>
      <h3>Автоматы</h3>
      <h3>от 21.10.2017 на 12:00</h3>
    </div>
    <div class='col-sm-2'>
      <a href="javascript:window.print(); void 0;" class='icon-print' title='Распечатать отчёт'></a>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class='col-sm-12'>
    <div class="panel panel-default">
      <div class='row'>
        <h3 class='text-center'>Настройки мультифильтра</h3>
      </div>
      <div class="row">
        <div class='col-sm-10 col-sm-offset-1'>
          <div class='row'>
            <div class='col-sm-6'>
              <div class='row'>
                <div class='col-sm-5'>EID</div>
                <div class='col-sm-7'>PBN9101982</div>
              </div>
              <div class='row'>
                <div class='col-sm-5'>Наименование</div>
                <div class='col-sm-7'>Кофе</div>
              </div>
              <div class='row'>
                <div class='col-sm-5'>Связь</div>
                <div class='col-sm-7'>есть</div>
              </div>
              <div class='row'>
                <div class='col-sm-5'>Адрес</div>
                <div class='col-sm-7'>ул. Иванова, 121</div>
              </div>
            </div>
            <div class='col-sm-6'>
              <div class='row'>
                <div class='col-sm-5'>Сумма продаж</div>
                <div class='col-sm-7'>
                  <div class='row'>
                    <div class='col-sm-2'>от</div>
                    <div class='col-sm-3'>100</div>
                    <div class='col-sm-2'>до</div>
                    <div class='col-sm-3'>1000</div>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-sm-5'>Сумма инкассации</div>
                <div class='col-sm-7'>
                  <div class='row'>
                    <div class='col-sm-2'>от</div>
                    <div class='col-sm-3'>100</div>
                    <div class='col-sm-2'>до</div>
                    <div class='col-sm-3'>1000</div>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-sm-5'>Обслуживание</div>
                <div class='col-sm-7'>есть</div>
              </div>
              <div class='row'>
                <div class='col-sm-5'>Аварии</div>
                <div class='col-sm-7'>есть</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
  <div class='col-sm-12'>
    <div class="panel panel-default">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">
              EID
            </th>
            <th class="text-center">
              Название
            </th>
            <th class="text-center">
              Связь
            </th>
            <th class="text-center">
              Адрес
            </th>
            <th class="text-center">
              Сумма <br> продаж
            </th>
            <th class="text-center">
              Сумма <br> инкассации
            </th>
            <th class="text-center">
              Обслуживание
            </th>
            <th class="text-center">
              Аварии
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">AIP5676678</td>
            <td class="text-center">Кофе</td>
            <td class="text-center"><img class="wifi-icon" src="/assets/img/wi-fi-green.png" width="20px" height="20px"></td>
            <td class="text-center">ул. Иванова, 121</td>
            <td class="text-center">512</td>
            <td class="text-center">525</td>
            <td class="text-center">Требуется</td>
            <td class="text-center">Есть</td>
          </tr>
          <tr>
            <td class="text-center">VZS4175779</td>
            <td class="text-center">Крупы</td>
            <td class="text-center"><img class="wifi-icon" src="/assets/img/wi-fi-green.png" width="20px" height="20px"></td>
            <td class="text-center">ул. Бестужева, 34</td>
            <td class="text-center">654</td>
            <td class="text-center">666</td>
            <td class="text-center"></td>
            <td class="text-center"></td>
          </tr>
          <tr>
            <td class="text-center">DGE0821504</td>
            <td class="text-center">Бакалея</td>
            <td class="text-center"><img class="wifi-icon" src="/assets/img/wi-fi-green.png" width="20px" height="20px"></td>
            <td class="text-center">ул. Соломахина, 4а</td>
            <td class="text-center">115.2</td>
            <td class="text-center">812</td>
            <td class="text-center"></td>
            <td class="text-center"></td>
          </tr>
          <tr>
            <td class="text-center">OJT0856130</td>
            <td class="text-center">Вода</td>
            <td class="text-center"><img class="wifi-icon" src="/assets/img/wi-fi-green.png" width="20px" height="20px"></td>
            <td class="text-center">пер. Красивый, 7б</td>
            <td class="text-center">6.3</td>
            <td class="text-center">444</td>
            <td class="text-center">Требуется</td>
            <td class="text-center"></td>
          </tr>
          <tr>
            <td class="text-center">SHG3019050</td>
            <td class="text-center">Батончики М</td>
            <td class="text-center"><img class="wifi-icon" src="/assets/img/wi-fi-red.png" width="20px" height="20px"></td>
            <td class="text-center">Оперный театр, вход</td>
            <td class="text-center">412</td>
            <td class="text-center">255</td>
            <td class="text-center"></td>
            <td class="text-center">Есть</td>
          </tr>
          <tr>
            <td class="text-center">PEM4182685</td>
            <td class="text-center">Батончики T</td>
            <td class="text-center"><img class="wifi-icon" src="/assets/img/wi-fi-green.png" width="20px" height="20px"></td>
            <td class="text-center">ул. Иванова, 121</td>
            <td class="text-center">397</td>
            <td class="text-center">125</td>
            <td class="text-center"></td>
            <td class="text-center"></td>
          </tr>
          <tr>
            <td class="text-center">PDP3353867</td>
            <td class="text-center">Сигареты</td>
            <td class="text-center"><img class="wifi-icon" src="/assets/img/wi-fi-green.png" width="20px" height="20px"></td>
            <td class="text-center">пр. Гагарина, 20</td>
            <td class="text-center">784</td>
            <td class="text-center">990</td>
            <td class="text-center">Требуется</td>
            <td class="text-center"></td>
          </tr>
          <tr>
            <td class="text-center">BKI7290007</td>
            <td class="text-center">Газировка</td>
            <td class="text-center"><img class="wifi-icon" src="/assets/img/wi-fi-green.png" width="20px" height="20px"></td>
            <td class="text-center">маг. Детский мир, вход 1</td>
            <td class="text-center">89</td>
            <td class="text-center">48</td>
            <td class="text-center">Требуется</td>
            <td class="text-center">Есть</td>
          </tr>
          <tr>
            <td class="text-center">HDY1849400</td>
            <td class="text-center">Молоко</td>
            <td class="text-center"><img class="wifi-icon" src="/assets/img/wi-fi-green.png" width="20px" height="20px"></td>
            <td class="text-center">ул. Молочная, 55</td>
            <td class="text-center">135</td>
            <td class="text-center">150</td>
            <td class="text-center"></td>
            <td class="text-center"></td>
          </tr>
          <tr>
            <td class="text-center">HZH9468016</td>
            <td class="text-center">Шоколад</td>
            <td class="text-center"><img class="wifi-icon" src="/assets/img/wi-fi-green.png" width="20px" height="20px"></td>
            <td class="text-center">Сериковский в-д, 12</td>
            <td class="text-center">26</td>
            <td class="text-center">252</td>
            <td class="text-center"></td>
            <td class="text-center">Есть</td>
          </tr>
          <tr>
            <td class="text-center">VDI8929933</td>
            <td class="text-center">Бахилы</td>
            <td class="text-center"><img class="wifi-icon" src="/assets/img/wi-fi-red.png" width="20px" height="20px"></td>
            <td class="text-center">ул. Груздева, 112а</td>
            <td class="text-center">415</td>
            <td class="text-center">1250</td>
            <td class="text-center">Требуется</td>
            <td class="text-center"></td>
          </tr>
          <tr>
            <td class="text-center">UFP1252659</td>
            <td class="text-center">Пиво</td>
            <td class="text-center"><img class="wifi-icon" src="/assets/img/wi-fi-green.png" width="20px" height="20px"></td>
            <td class="text-center">ул. Иванова, 121</td>
            <td class="text-center">1295</td>
            <td class="text-center">1780</td>
            <td class="text-center"></td>
            <td class="text-center"></td>
          </tr>
          <tr>
            <td class="text-center">OXU7421536</td>
            <td class="text-center">Орешки Слд</td>
            <td class="text-center"><img class="wifi-icon" src="/assets/img/wi-fi-green.png" width="20px" height="20px"></td>
            <td class="text-center">ул. Матросова, 27</td>
            <td class="text-center">58</td>
            <td class="text-center">450</td>
            <td class="text-center">Требуется</td>
            <td class="text-center">Есть</td>
          </tr>
          <tr>
            <td class="text-center">CAX5928226</td>
            <td class="text-center">Орешки Сол</td>
            <td class="text-center"><img class="wifi-icon" src="/assets/img/wi-fi-red.png" width="20px" height="20px"></td>
            <td class="text-center">ул. Синклера, 66</td>
            <td class="text-center">158</td>
            <td class="text-center">4250</td>
            <td class="text-center"></td>
            <td class="text-center"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>