<div class="configurator-holder" [@panelState]="stateConfig">
  <div class="configurator-bg" [@panelState]="stateConfig" (click)="ConfigState($event)"></div>
  <div class="configurator" [@configState]="stateConfig">
    <h2> Конфигурирование </h2>
    <form class="form-horizontal">
      <fieldset>
        <legend>Ингридиенты</legend>
        <h3>id118 - Вода</h3>
        <h3>{{ingredientConfig}}</h3>
        <p class="alert alert-danger">Несовпадение данных конфигурирования</p>
        <!-- Multiple Checkboxes (inline) -->
        <div class="form-group">
          <label class="col-sm-4 control-label" for="textinput">Объём выдачи</label>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-4 label-sm">
                <label>Ввести <br> новое</label>
                <input id="textinput" name="textinput" type="text" class="form-control input-sm">
              </div>
              <div class="col-sm-4 label-sm">
                <label>Текщее <br> значение</label>
                <input id="textinput" name="textinput" type="text" class="form-control input-sm">
              </div>
              <div class="col-sm-4 label-sm">
                <label>Предыдущий <br> ввод</label>
                <input id="textinput" name="textinput" type="text" class="form-control input-sm">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="textinput">Порог</label>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-4 label-sm">
                <label>Ввести <br> новое</label>
                <input id="textinput" name="textinput" type="text" class="form-control input-sm">
              </div>
              <div class="col-sm-4 label-sm">
                <label>Текщее <br> значение</label>
                <input id="textinput" name="textinput" type="text" class="form-control input-sm">
              </div>
              <div class="col-sm-4 label-sm">
                <label>Предыдущий <br> ввод</label>
                <input id="textinput" name="textinput" type="text" class="form-control input-sm">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group btns">
          <div class="col-sm-3">
            <button class="btn btn-danger" (click)='ConfigState($event)'>Отмена</button>
          </div>
          <div class="col-sm-6">
            <button id="" name="" class="btn btn-default" (click)='ConfigState($event)'>Я согласен с настройками</button>
          </div>
          <div class="col-sm-3">
            <button id="" name="" class="btn btn-success" (click)='SaveConfig($event)'>Применить</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
