<div class="configurator-holder" [@panelState]="stateConfig">
  <div class="configurator-bg" [@panelState]="stateConfig" (click)="ConfigState($event)"></div>
  <div class="configurator" [@configState]="stateConfig">
    <h2> Конфигурирование </h2>
    <form class="form-horizontal">
      <fieldset>
        <legend>События</legend>
        <h3>Дополнительные</h3>
        <h3>{{eventConfig}}</h3>
        <p class="alert alert-danger">Несовпадение данных конфигурирования</p>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="textinput">Изменить цену</label>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-12 text-center"><label>Ввести</label></div>
              <div class="col-sm-12"><input id="textinput" name="textinput" type="text" placeholder="Введите новое значение" class="form-control input-sm"></div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-center"><label>Текущее значение</label></div>
              <div class="col-sm-12"><input id="textinput" name="textinput" type="text" value="Видеокамера не работоспособна" class="form-control input-sm"></div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-center"><label>Предыдущий ввод</label></div>
              <div class="col-sm-12"><input id="textinput" name="textinput" type="text" value="Видеокамера не работает" class="form-control input-sm"></div>
            </div>
          </div>
        </div>
        <div class="form-group btns">
          <div class="col-sm-3">
            <button class="btn btn-danger" (click)='ConfigState($event)'>Отмена</button>
          </div>
          <div class="col-sm-6">
            <button id="" name="" class="btn btn-default" (click)='ConfigState($event)'>Я согласен с настройками</button>
          </div>
          <div class="col-sm-3">
            <button id="" name="" class="btn btn-success" (click)='SaveConfig($event)'>Применить</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
