<div class="container-fluid report-head">
  <div class='row'>
    <div class='col-sm-2'><span class="report-logo">SMARTNOVA</span></div>
    <div class='col-sm-8 text-center'>
      <h3>Отчет по Торговой сети QQT3532925</h3>
      <h3>События</h3>
      <h3>от 21.10.2017 на 12:00</h3>
    </div>
    <div class='col-sm-2'>
      <a href="javascript:window.print(); void 0;" class='icon-print' title='Распечатать отчёт'></a>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class='col-sm-12'>
    <div class="panel panel-default">
      <div class='row'>
        <h2 class='text-center'>Настройки мультифильтра</h2>
      </div>
      <div class="row">
        <div class='col-sm-10 col-sm-offset-1'>
          <div class='row'>
            <div class='col-sm-6 col-sm-offset-3'>
              <div class='row'>
                <div class='col-sm-1'>с</div>
                <div class='col-sm-5'>12 мар. 2016г., 10:32:21</div>
                <div class='col-sm-1'>по</div>
                <div class='col-sm-5'>20 авг. 2016г., 10:20:14</div>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-6'>
              <div class='row'>
                <div class='col-sm-5'>Наименование</div>
                <div class='col-sm-7'>Рег</div>
              </div>
              <div class='row'>
                <div class='col-sm-5'>Количество</div>
                <div class='col-sm-7'>
                  <div class='row'>
                    <div class='col-sm-2'>от</div>
                    <div class='col-sm-3'>5</div>
                    <div class='col-sm-2'>до</div>
                    <div class='col-sm-3'>20</div>
                  </div>
                </div>
              </div>
            </div>
            <div class='col-sm-6'>
              <div class='row'>
                <div class='col-sm-5'>Длительность, мин</div>
                <div class='col-sm-7'>
                  <div class='row'>
                    <div class='col-sm-2'>от</div>
                    <div class='col-sm-3'>1</div>
                    <div class='col-sm-2'>до</div>
                    <div class='col-sm-3'>50</div>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-sm-5'>Квитирование</div>
                <div class='col-sm-7'>есть</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>

  <div class='col-sm-12'>
    <div class="panel panel-default">
      <h3 class='text-center'>Операционные</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-left">Наименование</th>
            <th>Количество</th>
            <th>Длительность</th>
            <th>Дата/Время</th>
            <th>Квитировано</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Регистрация</td>
            <td class="text-center">108</td>
            <td class="text-center">1 час 17 мин. 15сек</td>
            <td class="text-center">20 авг. 2016 г.,&nbsp;10:20:14</td>
            <td class="text-center">квитировано</td>
          </tr>
          <tr>
            <td>Конфигурирование</td>
            <td class="text-center">108</td>
            <td class="text-center">1 час 17 мин. 15сек</td>
            <td class="text-center">12 мар. 2016 г.,&nbsp;10:32:21</td>
            <td class="text-center">не квитировано</td>
          </tr>
          <tr>
            <td>Инкассация</td>
            <td class="text-center">108</td>
            <td class="text-center">1 час 17 мин. 15сек</td>
            <td class="text-center">23 мар. 2016 г.,&nbsp;10:33:31</td>
            <td class="text-center">квитировано</td>
          </tr>
          <tr>
            <td>Загрузка</td>
            <td class="text-center">108</td>
            <td class="text-center">1 час 17 мин. 15сек</td>
            <td class="text-center">23 апр. 2016 г.,&nbsp;11:40:41</td>
            <td class="text-center"></td>
          </tr>
          <tr>
            <td>Техобслуживание</td>
            <td class="text-center">108</td>
            <td class="text-center">1 час 17 мин. 15сек</td>
            <td class="text-center">24 апр. 2016 г.,&nbsp;12:42:51</td>
            <td class="text-center">не квитировано</td>
          </tr>
          <tr>
            <td>Требуется конфигурирование</td>
            <td class="text-center">108</td>
            <td class="text-center">1 час 17 мин. 15сек</td>
            <td class="text-center">25 мая 2016 г.,&nbsp;12:45:42</td>
            <td class="text-center">квитировано</td>
          </tr>
          <tr>
            <td>Требуется инкассация</td>
            <td class="text-center">108</td>
            <td class="text-center">1 час 17 мин. 15сек</td>
            <td class="text-center">26 мая 2016 г.,&nbsp;01:55:43</td>
            <td class="text-center">квитировано</td>
          </tr>
          <tr>
            <td>Требуется загрузка</td>
            <td class="text-center">108</td>
            <td class="text-center">1 час 17 мин. 15сек</td>
            <td class="text-center">27 июн. 2016 г.,&nbsp;02:11:44</td>
            <td class="text-center">не квитировано</td>
          </tr>
          <tr>
            <td>Продажа заблокирована</td>
            <td class="text-center">108</td>
            <td class="text-center">1 час 17 мин. 15сек</td>
            <td class="text-center">28 июн. 2016 г.,&nbsp;02:34:45</td>
            <td class="text-center">не квитировано</td>
          </tr>
          <tr>
            <td>Сброс параметров</td>
            <td class="text-center">108</td>
            <td class="text-center">1 час 17 мин. 15сек</td>
            <td class="text-center">29 июл. 2016 г.,&nbsp;03:23:23</td>
            <td class="text-center"></td>
          </tr>
          <tr>
            <td>Отсутствуют ингредиенты</td>
            <td class="text-center">108</td>
            <td class="text-center">1 час 17 мин. 15сек</td>
            <td class="text-center">11 июл. 2016 г.,&nbsp;08:56:13</td>
            <td class="text-center">квитировано</td>
          </tr>
          <tr>
            <td>Отсутствует сдача</td>
            <td class="text-center">108</td>
            <td class="text-center">1 час 17 мин. 15сек</td>
            <td class="text-center">20 авг. 2016 г.,&nbsp;09:12:28</td>
            <td class="text-center"> </td>
          </tr>
          <tr>
            <td>Отсутствует бумага для отчета</td>
            <td class="text-center">108</td>
            <td class="text-center">1 час 17 мин. 15сек</td>
            <td class="text-center">20 авг. 2016 г.,&nbsp;10:22:28</td>
            <td class="text-center">не квитировано</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class='col-sm-12'>
    <div class="panel panel-default">
      <h3 class='text-center'>Системные/аварии</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-left">Наименование</th>
            <th>Количество</th>
            <th>Длительность</th>
            <th>Дата/Время</th>
            <th>Квитировано</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Неисправность оборудования</td>
            <td class="text-center">108</td>
            <td class="text-center">1 час 17 мин. 15сек</td>
            <td class="text-center">12 сент. 2016 г.,&nbsp;09:31:11</td>
            <td>не квитировано</td>
          </tr>
          <tr>
            <td>Неисправность системы оплаты</td>
            <td class="text-center">108</td>
            <td class="text-center">1 час 17 мин. 15сек</td>
            <td class="text-center">12 окт. 2016 г.,&nbsp;10:37:29</td>
            <td></td>
          </tr>
          <tr>
            <td>Неисправность принтера</td>
            <td class="text-center">108</td>
            <td class="text-center">1 час 17 мин. 15сек</td>
            <td class="text-center">29 июл. 2016 г.,&nbsp;03:23:23</td>
            <td>квитировано</td>
          </tr>
          <tr>
            <td>Неисправность электросети</td>
            <td class="text-center">108</td>
            <td class="text-center">1 час 17 мин. 15сек</td>
            <td class="text-center">27 июн. 2016 г.,&nbsp;02:11:44</td>
            <td>квитировано</td>
          </tr>
          <tr>
            <td>Несанкционированный доступ к шкафу</td>
            <td class="text-center">108</td>
            <td class="text-center">1 час 17 мин. 15сек</td>
            <td class="text-center">24 апр. 2016 г.,&nbsp;12:42:51</td>
            <td>квитировано</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class='col-sm-12'>
    <div class="panel panel-default">
      <h3 class='text-center'>Неопределенные</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-left">Наименование</th>
            <th>Количество</th>
            <th>Длительность</th>
            <th>Дата/Время</th>
            <th>Квитировано</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Неопределенное</td>
            <td class="text-center">108</td>
            <td class="text-center">1 час 17 мин. 15сек</td>
            <td class="text-center">20 авг. 2016 г.,&nbsp;10:22:28</td>
            <td>квитировано</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class='col-sm-12'>
    <div class="panel panel-default">
      <h3 class='text-center'>Дополнительные</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-left">Наименование</th>
            <th>Количество</th>
            <th>Длительность</th>
            <th>Дата/Время</th>
            <th>Квитировано</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Срабатывание сигнализации</td>
            <td class="text-center">108</td>
            <td class="text-center">1 час 17 мин. 15сек</td>
            <td class="text-center">20 авг. 2016 г.,&nbsp;10:22:28</td>
            <td>не квитировано</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>