<div class="multifilter-holder" [@panelState]="state">
  <div class="multifilter-bg" [@panelState]="state" (click)="MultifilterState($event)"></div>
  <div class="multifilter" [@multifilterState]="state">
    <div class="filter-holder">
      <h2> Мультифильтр </h2>
      <form class="form-horizontal">
        <fieldset dnd-sortable-container [sortableData]="thisMultifilterForm">
          <legend>Торговая сеть</legend>
          <div class="form-group" *ngFor="let item of thisMultifilterForm; let i = index" dnd-sortable [sortableIndex]="i">
              {{item}}
            </div>

          <div class="form-group" >
            <div class='col-sm-1 drag'></div>
            <label class="col-sm-5 control-label" for="textinput">EID</label>
            <div class="col-sm-6">
              <input id="textinputdate" name="textinput" type="text" class="form-control input-sm">
            </div>
          </div>

          <div class="form-group">
            <div class='col-sm-1 drag'></div>
            <label class="col-sm-5 control-label" for="textinput">Наименование</label>
            <div class="col-sm-6">
              <input id="textinput" name="textinput" type="text" class="form-control input-sm">
            </div>
          </div>

          <!-- Multiple Radios (inline) -->
          <div class="form-group">
            <div class='col-sm-1 drag'></div>
            <label class="col-sm-5 control-label" for="radios">Связь</label>
            <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-4 radio">
                    <input type="radio" name="radios" id="radios-10" value="1" checked="checked">
                    <label class="radio-inline" for="radios-10">все</label>
                  </div>
                  <div class="col-sm-4 radio">
                    <input type="radio" name="radios" id="radios-11" value="2">
                    <label class="radio-inline" for="radios-11">есть</label>
                  </div>
                  <div class="col-sm-4 radio">
                    <input type="radio" name="radios" id="radios-12" value="3">
                    <label class="radio-inline" for="radios-12">нет</label>
                  </div>
                </div>
              </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <div class='col-sm-1 drag'></div>
            <label class="col-sm-5 control-label" for="textinput">Адресс</label>
            <div class="col-sm-6">
              <input id="textinput" name="textinput" type="text" class="form-control input-sm">
            </div>
          </div>

          <div class="form-group">
            <div class='col-sm-1 drag'></div>
            <label class="col-sm-4 control-label" for="textinput">Сумма продаж</label>
            <label class="col-sm-1 text-right" for="textinput">от</label>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-5">
                  <input id="textinput" name="textinput" type="text" class="form-control input-sm">
                </div>
                <label class="col-sm-2 text-right" for="textinput">до</label>
                <div class="col-sm-5">
                  <input id="textinput" name="textinput" type="text" class="form-control input-sm">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class='col-sm-1 drag'></div>
            <label class="col-sm-4 control-label" for="textinput">Сумма инкассации</label>
            <label class="col-sm-1 text-right" for="textinput">от</label>
            <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-5">
                    <input id="textinput" name="textinput" type="text" class="form-control input-sm">
                  </div>
                  <label class="col-sm-2 text-right" for="textinput">до</label>
                  <div class="col-sm-5">
                    <input id="textinput" name="textinput" type="text" class="form-control input-sm">
                  </div>
                </div>
              </div>
          </div>

          <!-- Multiple Radios (inline) -->
          <div class="form-group">
            <div class='col-sm-1 drag'></div>
            <label class="col-sm-5 control-label" for="radios">Обслуживание</label>
            <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-4 radio">
                    <input type="radio" name="radios" id="radios-20" value="1" checked="checked">
                    <label class="radio-inline" for="radios-20">все</label>
                  </div>
                  <div class="col-sm-4 radio">
                    <input type="radio" name="radios" id="radios-21" value="2">
                    <label class="radio-inline" for="radios-21">есть</label>
                  </div>
                  <div class="col-sm-4 radio">
                    <input type="radio" name="radios" id="radios-22" value="3">
                    <label class="radio-inline" for="radios-22">нет</label>
                  </div>
                </div>
              </div>
          </div>

          <!-- Multiple Radios (inline) -->
          <div class="form-group">
            <div class='col-sm-1 drag'></div>
            <label class="col-sm-5 control-label" for="radios">Аварии</label>
            <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-4 radio">
                    <input type="radio" name="radios" id="radios-30" value="1" checked="checked">
                    <label class="radio-inline" for="radios-30">все</label>
                  </div>
                  <div class="col-sm-4 radio">
                    <input type="radio" name="radios" id="radios-31" value="2">
                    <label class="radio-inline" for="radios-31">есть</label>
                  </div>
                  <div class="col-sm-4 radio">
                    <input type="radio" name="radios" id="radios-32" value="3">
                    <label class="radio-inline" for="radios-32">нет</label>
                  </div>
                </div>
              </div>
          </div>
          <!-- Button (Double) -->
          <div class="form-group">
            <div class="col-sm-12">
              <button id="button2id" name="button2id" class="btn btn-danger" (click)="MultifilterState($event)">Отмена</button>
              <button id="button1id" name="button1id" class="btn btn-success pull-right" (click)="MultifilterState($event)">Применить</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
